body{
    background-color:rgb(113, 104, 163);
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.h1{
    padding-left: 50px;

}

.submit{
    align-self: center;
}